@tailwind base;
@tailwind components;
@tailwind utilities;



.containerBg {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
}

.bgLeft {
    background-color: #eef8fc;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    /* overflow: hidden; */
}


.bgRight {
    background-color: #fa5740;
    height: 100%;
    width: 40%;
    position: absolute;
    z-index: -1;
    right: -10vw;
    transform: scale(2) skew(-30deg);
    -webkit-transform: scale(2) skew(-30deg);
    -moz-transform: scale(2) skew(-30deg);
}

.bgRightPetit {
    background-color: black;
    height: 100%;
    width: 40%;
    position: absolute;
    z-index: -1;
    right: 5vw;
    transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
}

.transformation {
    margin-left: 15px;
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
}

.bgLeftPetit {
    background-color: #c85141;
    height: 100%;
    width: 60%;
    position: absolute;
    z-index: -2;
    /* overflow: hidden; */
}


.filtre {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 20px;
    z-index: 0;
    overflow: hidden;
}

.bgFiltreLeft {
    background-color: #c2ccd1;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
}

.bgFiltreRight {
    background-color: #242324;
    height: 100%;
    width: 33%;
    position: absolute;
    z-index: -1;
    right: -10vw;
    transform: scale(2) skew(-30deg);
    -webkit-transform: scale(2) skew(-30deg);
    -moz-transform: scale(2) skew(-30deg);
}

.containerTitresPkdx {
    width: 100vw;
    height: 10vh;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 15vw;
}

.titrePokedex {
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 20px;
}

.nomFiltre {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 20px;
}

.ombrage {
    box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.574);
}